In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
# Tạo một biến DataFrame để lưu toàn bộ dữ liệu
all_data = pd.DataFrame()

# Tên các cột chung
common_columns = ['LAT', 'LON', 'YEAR', 'DOY']  # Thay thế bằng tên thực tế của các cột

# Đường dẫn đến thư mục chứa các tệp CSV
folder_path = r'DATA-20231216T104315Z-001\DATA'

year = 2000  # Năm ban đầu

while year <= 2023:
    file_name_1 = f'POWER_Regional_Daily_{year}0101_{year}1231_018d0060N_020d3561N_103d1770E_107d1540E_LST (1).csv'
    file_name_2 = f'POWER_Regional_Daily_{year}0101_{year}1231_018d0060N_020d3561N_103d1770E_107d1540E_LST.csv'
    file_path_1 = os.path.join(folder_path, file_name_1)
    file_path_2 = os.path.join(folder_path, file_name_2)

    df1 = pd.read_csv(file_path_1, delimiter=',', skipinitialspace=True, skiprows=range(0, 22))
    df2 = pd.read_csv(file_path_2, delimiter=',', skipinitialspace=True, skiprows=range(0, 25))

    # Merge hai DataFrame theo các cột chung
    merged_df = pd.merge(df1, df2, on=common_columns)

    # Nối bảng dữ liệu vào biến DataFrame chứa toàn bộ dữ liệu
    all_data = pd.concat([all_data, merged_df])

    # Tăng năm lên cho vòng lặp tiếp theo
    year += 1

# In toàn bộ dữ liệu trên màn hình
all_data

,LAT,LON,YEAR,DOY,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN
0,18.25,103.25,2000,1,12.41,84.03,0.0,97.21,1.98,2.39,...,-999.0,-999.0,0.89,19.93,16.89,18.41,19.68,11.92,26.69,14.77
1,18.25,103.75,2000,1,12.24,84.41,0.0,97.93,1.89,2.25,...,-999.0,-999.0,0.86,19.74,16.80,18.27,19.59,11.78,26.36,14.58
2,18.25,104.25,2000,1,11.58,84.33,0.0,96.36,1.69,2.03,...,-999.0,-999.0,0.49,18.64,15.65,17.14,18.60,11.15,25.10,13.95
3,18.25,104.75,2000,1,11.16,85.76,0.0,94.71,1.58,2.13,...,-999.0,-999.0,0.33,17.47,14.82,16.14,17.42,10.06,23.37,13.32
4,18.25,105.25,2000,1,11.33,88.11,0.0,95.31,1.69,2.73,...,-999.0,-999.0,0.56,17.28,15.15,16.21,17.07,8.77,22.52,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11875,20.25,104.75,2023,297,-999.00,-999.00,-999.0,-999.00,-999.00,-999.00,...,-999.0,-999.0,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
11876,20.25,105.25,2023,297,-999.00,-999.00,-999.0,-999.00,-999.00,-999.00,...,-999.0,-999.0,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
11877,20.25,105.75,2023,297,-999.00,-999.00,-999.0,-999.00,-999.00,-999.00,...,-999.0,-999.0,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
11878,20.25,106.25,2023,297,-999.00,-999.00,-999.0,-999.00,-999.00,-999.00,...,-999.0,-999.0,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
11879,20.25,106.75,2023,297,-999.00,-999.00,-999.0,-999.00,-999.00,-999.00,...,-999.0,-999.0,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00

In [18]:
# Đặt ngưỡng phần trăm bị thiếu mà bạn quan tâm
threshold_percentage = 80

# Đếm số biến bị thiếu theo dòng
missing_by_row = all_data[all_data == -999.00].count(axis=1)

# Tổng số biến trong mỗi dòng
total_columns = all_data.shape[1]

# Tính phần trăm biến bị thiếu theo dòng
missing_percentage_by_row = (missing_by_row / total_columns) * 100

# Tìm các dòng có phần trăm biến bị thiếu lớn hơn ngưỡng
rows_with_high_missing = all_data[missing_percentage_by_row > threshold_percentage]

# In kết quả
rows_with_high_missing

,LAT,LON,YEAR,DOY,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN
11800,18.25,103.25,2023,296,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11801,18.25,103.75,2023,296,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11802,18.25,104.25,2023,296,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11803,18.25,104.75,2023,296,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11804,18.25,105.25,2023,296,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11875,20.25,104.75,2023,297,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11876,20.25,105.25,2023,297,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11877,20.25,105.75,2023,297,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11878,20.25,106.25,2023,297,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
11879,20.25,106.75,2023,297,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [19]:
# Lấy chỉ mục (index) của các hàng có phần trăm biến bị thiếu lớn hơn ngưỡng
rows_to_remove = missing_percentage_by_row[missing_percentage_by_row > threshold_percentage].index

# Xóa các hàng có dữ liệu thiếu trên 80%
all_data_cleaned_1 = all_data.drop(index=rows_to_remove)
all_data_cleaned_1

,LAT,LON,YEAR,DOY,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN
0,18.25,103.25,2000,1,12.41,84.03,0.00,97.21,1.98,2.39,...,-999.0,-999.0,0.89,19.93,16.89,18.41,19.68,11.92,26.69,14.77
1,18.25,103.75,2000,1,12.24,84.41,0.00,97.93,1.89,2.25,...,-999.0,-999.0,0.86,19.74,16.80,18.27,19.59,11.78,26.36,14.58
2,18.25,104.25,2000,1,11.58,84.33,0.00,96.36,1.69,2.03,...,-999.0,-999.0,0.49,18.64,15.65,17.14,18.60,11.15,25.10,13.95
3,18.25,104.75,2000,1,11.16,85.76,0.00,94.71,1.58,2.13,...,-999.0,-999.0,0.33,17.47,14.82,16.14,17.42,10.06,23.37,13.32
4,18.25,105.25,2000,1,11.33,88.11,0.00,95.31,1.69,2.73,...,-999.0,-999.0,0.56,17.28,15.15,16.21,17.07,8.77,22.52,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11795,20.25,104.75,2023,295,12.42,87.23,0.89,94.12,1.51,2.21,...,-999.0,-999.0,0.36,18.64,16.34,17.49,18.12,8.27,22.97,14.70
11796,20.25,105.25,2023,295,13.07,86.07,0.88,97.60,2.30,3.49,...,-999.0,-999.0,1.16,20.25,17.75,19.00,19.94,7.00,23.86,16.86
11797,20.25,105.75,2023,295,13.99,84.24,0.81,100.73,3.62,5.28,...,-999.0,-999.0,2.53,22.20,19.36,20.79,22.37,6.09,25.31,19.23
11798,20.25,106.25,2023,295,14.89,83.81,1.66,101.64,5.07,6.55,...,-999.0,-999.0,3.90,23.42,20.50,21.96,24.40,4.62,25.86,21.24
11799,20.25,106.75,2023,295,15.92,83.54,3.50,101.67,7.20,8.28,...,-999.0,-999.0,6.07,24.53,21.58,23.06,26.77,2.14,25.64,23.50

In [20]:
# Đếm số lượng giá trị bị thiếu (-999.00)
missing_count = (all_data_cleaned_1 == -999).sum()

# Tổng số giá trị
total_count = all_data_cleaned_1.shape[0]

# Phần trăm giá trị bị thiếu
missing_percentage = (missing_count / total_count) * 100

# Tạo DataFrame kết quả
missing_info = pd.DataFrame({'Số lượng bị thiếu': missing_count, 'Phần trăm bị thiếu (%)': missing_percentage})

# In kết quả
missing_info

                     Số lượng bị thiếu  Phần trăm bị thiếu (%)
LAT                                  0                0.000000
LON                                  0                0.000000
YEAR                                 0                0.000000
DOY                                  0                0.000000
QV2M                                 0                0.000000
RH2M                                 0                0.000000
PRECTOTCORR                          0                0.000000
PS                                   0                0.000000
WS10M                                0                0.000000
WS10M_MAX                            0                0.000000
WS10M_MIN                            0                0.000000
WS10M_RANGE                          0                0.000000
WD10M                                0                0.000000
WS50M                                0                0.000000
WS50M_MAX                            0                0.000000
WS50M_MIN                            0                0.000000
WS50M_RANGE                          0                0.000000
WD50M                                0                0.000000
ALLSKY_SFC_SW_DWN                  168                0.048555
CLRSKY_SFC_SW_DWN                 5346                1.545087
ALLSKY_KT                         5720                1.653179
ALLSKY_SFC_LW_DWN                  160                0.046243
ALLSKY_SFC_PAR_TOT                5720                1.653179
CLRSKY_SFC_PAR_TOT               20280                5.861272
ALLSKY_SFC_UVA                   20280                5.861272
ALLSKY_SFC_UVB                   20280                5.861272
ALLSKY_SFC_UV_INDEX              24056                6.952601
WS2M                                 0                0.000000
T2M                                  0                0.000000
T2MDEW                               0                0.000000
T2MWET                               0                0.000000
TS                                   0                0.000000
T2M_RANGE                            0                0.000000
T2M_MAX                              0                0.000000
T2M_MIN                              0                0.000000

In [21]:
# In ra các giá trị trong bảng missing_info với điều kiện số lượng bị thiếu lớn hơn 0
missing_info[missing_info['Số lượng bị thiếu'] > 0]

                     Số lượng bị thiếu  Phần trăm bị thiếu (%)
ALLSKY_SFC_SW_DWN                  168                0.048555
CLRSKY_SFC_SW_DWN                 5346                1.545087
ALLSKY_KT                         5720                1.653179
ALLSKY_SFC_LW_DWN                  160                0.046243
ALLSKY_SFC_PAR_TOT                5720                1.653179
CLRSKY_SFC_PAR_TOT               20280                5.861272
ALLSKY_SFC_UVA                   20280                5.861272
ALLSKY_SFC_UVB                   20280                5.861272
ALLSKY_SFC_UV_INDEX              24056                6.952601

In [22]:
# Các cột cần bỏ
columns_to_remove = ['CLRSKY_SFC_SW_DWN', 'ALLSKY_KT', 'ALLSKY_SFC_PAR_TOT', 'CLRSKY_SFC_PAR_TOT','ALLSKY_SFC_UVA','ALLSKY_SFC_UVB','ALLSKY_SFC_UV_INDEX']

# Xóa các cột sau
all_data_cleaned_2 = all_data_cleaned_1.drop(columns=columns_to_remove)

# Thay thế các giá trị bị thiếu trong cột ALLSKY_SFC_SW_DWN và ALLSKY_SFC_LW_DWN bằng giá trị trung bình
mean_ALLSKY_SFC_SW_DWN = all_data_cleaned_2['ALLSKY_SFC_SW_DWN'].mean()
mean_ALLSKY_SFC_LW_DWN = all_data_cleaned_2['ALLSKY_SFC_LW_DWN'].mean()

all_data_cleaned_2['ALLSKY_SFC_SW_DWN'] = all_data_cleaned_2['ALLSKY_SFC_SW_DWN'].replace(-999.00, mean_ALLSKY_SFC_SW_DWN)
all_data_cleaned_2['ALLSKY_SFC_LW_DWN'] = all_data_cleaned_2['ALLSKY_SFC_LW_DWN'].replace(-999.00, mean_ALLSKY_SFC_LW_DWN)

# In kết quả
all_data_cleaned_2

,LAT,LON,YEAR,DOY,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_LW_DWN,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN
0,18.25,103.25,2000,1,12.41,84.03,0.00,97.21,1.98,2.39,...,17.640000,358.800000,0.89,19.93,16.89,18.41,19.68,11.92,26.69,14.77
1,18.25,103.75,2000,1,12.24,84.41,0.00,97.93,1.89,2.25,...,17.640000,358.800000,0.86,19.74,16.80,18.27,19.59,11.78,26.36,14.58
2,18.25,104.25,2000,1,11.58,84.33,0.00,96.36,1.69,2.03,...,17.530000,350.000000,0.49,18.64,15.65,17.14,18.60,11.15,25.10,13.95
3,18.25,104.75,2000,1,11.16,85.76,0.00,94.71,1.58,2.13,...,17.530000,350.000000,0.33,17.47,14.82,16.14,17.42,10.06,23.37,13.32
4,18.25,105.25,2000,1,11.33,88.11,0.00,95.31,1.69,2.73,...,12.660000,348.200000,0.56,17.28,15.15,16.21,17.07,8.77,22.52,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11795,20.25,104.75,2023,295,12.42,87.23,0.89,94.12,1.51,2.21,...,14.550998,396.310864,0.36,18.64,16.34,17.49,18.12,8.27,22.97,14.70
11796,20.25,105.25,2023,295,13.07,86.07,0.88,97.60,2.30,3.49,...,14.550998,396.310864,1.16,20.25,17.75,19.00,19.94,7.00,23.86,16.86
11797,20.25,105.75,2023,295,13.99,84.24,0.81,100.73,3.62,5.28,...,14.550998,396.310864,2.53,22.20,19.36,20.79,22.37,6.09,25.31,19.23
11798,20.25,106.25,2023,295,14.89,83.81,1.66,101.64,5.07,6.55,...,14.550998,396.310864,3.90,23.42,20.50,21.96,24.40,4.62,25.86,21.24
11799,20.25,106.75,2023,295,15.92,83.54,3.50,101.67,7.20,8.28,...,14.550998,396.310864,6.07,24.53,21.58,23.06,26.77,2.14,25.64,23.50

In [23]:
# Đếm số lượng giá trị bị thiếu (-999.00)
missing_count_2 = (all_data_cleaned_2 == -999).sum()

# Tổng số giá trị
total_count_2 = all_data_cleaned_2.shape[0]

# Phần trăm giá trị bị thiếu
missing_percentage_2 = (missing_count_2 / total_count_2) * 100

# Tạo DataFrame kết quả
missing_info_2 = pd.DataFrame({'Số lượng bị thiếu': missing_count_2, 'Phần trăm bị thiếu (%)': missing_percentage_2})

# In kết quả
missing_info_2

                   Số lượng bị thiếu  Phần trăm bị thiếu (%)
LAT                                0                     0.0
LON                                0                     0.0
YEAR                               0                     0.0
DOY                                0                     0.0
QV2M                               0                     0.0
RH2M                               0                     0.0
PRECTOTCORR                        0                     0.0
PS                                 0                     0.0
WS10M                              0                     0.0
WS10M_MAX                          0                     0.0
WS10M_MIN                          0                     0.0
WS10M_RANGE                        0                     0.0
WD10M                              0                     0.0
WS50M                              0                     0.0
WS50M_MAX                          0                     0.0
WS50M_MIN                          0                     0.0
WS50M_RANGE                        0                     0.0
WD50M                              0                     0.0
ALLSKY_SFC_SW_DWN                  0                     0.0
ALLSKY_SFC_LW_DWN                  0                     0.0
WS2M                               0                     0.0
T2M                                0                     0.0
T2MDEW                             0                     0.0
T2MWET                             0                     0.0
TS                                 0                     0.0
T2M_RANGE                          0                     0.0
T2M_MAX                            0                     0.0
T2M_MIN                            0                     0.0

In [24]:
all_data_cleaned_2

,LAT,LON,YEAR,DOY,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_LW_DWN,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN
0,18.25,103.25,2000,1,12.41,84.03,0.00,97.21,1.98,2.39,...,17.640000,358.800000,0.89,19.93,16.89,18.41,19.68,11.92,26.69,14.77
1,18.25,103.75,2000,1,12.24,84.41,0.00,97.93,1.89,2.25,...,17.640000,358.800000,0.86,19.74,16.80,18.27,19.59,11.78,26.36,14.58
2,18.25,104.25,2000,1,11.58,84.33,0.00,96.36,1.69,2.03,...,17.530000,350.000000,0.49,18.64,15.65,17.14,18.60,11.15,25.10,13.95
3,18.25,104.75,2000,1,11.16,85.76,0.00,94.71,1.58,2.13,...,17.530000,350.000000,0.33,17.47,14.82,16.14,17.42,10.06,23.37,13.32
4,18.25,105.25,2000,1,11.33,88.11,0.00,95.31,1.69,2.73,...,12.660000,348.200000,0.56,17.28,15.15,16.21,17.07,8.77,22.52,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11795,20.25,104.75,2023,295,12.42,87.23,0.89,94.12,1.51,2.21,...,14.550998,396.310864,0.36,18.64,16.34,17.49,18.12,8.27,22.97,14.70
11796,20.25,105.25,2023,295,13.07,86.07,0.88,97.60,2.30,3.49,...,14.550998,396.310864,1.16,20.25,17.75,19.00,19.94,7.00,23.86,16.86
11797,20.25,105.75,2023,295,13.99,84.24,0.81,100.73,3.62,5.28,...,14.550998,396.310864,2.53,22.20,19.36,20.79,22.37,6.09,25.31,19.23
11798,20.25,106.25,2023,295,14.89,83.81,1.66,101.64,5.07,6.55,...,14.550998,396.310864,3.90,23.42,20.50,21.96,24.40,4.62,25.86,21.24
11799,20.25,106.75,2023,295,15.92,83.54,3.50,101.67,7.20,8.28,...,14.550998,396.310864,6.07,24.53,21.58,23.06,26.77,2.14,25.64,23.50

In [25]:
# Chuyển cột DOY thành ngày và tháng
all_data_cleaned_2['DATE'] = pd.to_datetime(all_data_cleaned_2['YEAR'].astype(str) + all_data_cleaned_2['DOY'].astype(str), format='%Y%j')
all_data_cleaned_2['MONTH'] = all_data_cleaned_2['DATE'].dt.month
all_data_cleaned_2['DAY'] = all_data_cleaned_2['DATE'].dt.day

# In ra DataFrame sau khi xử lý
all_data_cleaned_2

,LAT,LON,YEAR,DOY,QV2M,RH2M,PRECTOTCORR,PS,WS10M,WS10M_MAX,...,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,DATE,MONTH,DAY
0,18.25,103.25,2000,1,12.41,84.03,0.00,97.21,1.98,2.39,...,19.93,16.89,18.41,19.68,11.92,26.69,14.77,2000-01-01,1,1
1,18.25,103.75,2000,1,12.24,84.41,0.00,97.93,1.89,2.25,...,19.74,16.80,18.27,19.59,11.78,26.36,14.58,2000-01-01,1,1
2,18.25,104.25,2000,1,11.58,84.33,0.00,96.36,1.69,2.03,...,18.64,15.65,17.14,18.60,11.15,25.10,13.95,2000-01-01,1,1
3,18.25,104.75,2000,1,11.16,85.76,0.00,94.71,1.58,2.13,...,17.47,14.82,16.14,17.42,10.06,23.37,13.32,2000-01-01,1,1
4,18.25,105.25,2000,1,11.33,88.11,0.00,95.31,1.69,2.73,...,17.28,15.15,16.21,17.07,8.77,22.52,13.75,2000-01-01,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11795,20.25,104.75,2023,295,12.42,87.23,0.89,94.12,1.51,2.21,...,18.64,16.34,17.49,18.12,8.27,22.97,14.70,2023-10-22,10,22
11796,20.25,105.25,2023,295,13.07,86.07,0.88,97.60,2.30,3.49,...,20.25,17.75,19.00,19.94,7.00,23.86,16.86,2023-10-22,10,22
11797,20.25,105.75,2023,295,13.99,84.24,0.81,100.73,3.62,5.28,...,22.20,19.36,20.79,22.37,6.09,25.31,19.23,2023-10-22,10,22
11798,20.25,106.25,2023,295,14.89,83.81,1.66,101.64,5.07,6.55,...,23.42,20.50,21.96,24.40,4.62,25.86,21.24,2023-10-22,10,22
11799,20.25,106.75,2023,295,15.92,83.54,3.50,101.67,7.20,8.28,...,24.53,21.58,23.06,26.77,2.14,25.64,23.50,2023-10-22,10,22

In [26]:
# Sao chép DataFrame hiện có
all_data_cleaned_3 = all_data_cleaned_2.copy()

# Chuyển cột DOY thành ngày và tháng
all_data_cleaned_3['DATE'] = pd.to_datetime(all_data_cleaned_3['YEAR'].astype(str) + all_data_cleaned_3['DOY'].astype(str), format='%Y%j')
all_data_cleaned_3['MONTH'] = all_data_cleaned_3['DATE'].dt.month
all_data_cleaned_3['DAY'] = all_data_cleaned_3['DATE'].dt.day

# Đặt các cột mới bên phải cột DOY
all_data_cleaned_3 = all_data_cleaned_3[['LAT', 'LON','DATE','YEAR', 'MONTH', 'DAY'] + [col for col in all_data_cleaned_3.columns if col not in ['LAT', 'LON', 'YEAR', 'DOY', 'DATE', 'MONTH', 'DAY']]]

# In ra DataFrame sau khi xử lý
all_data_cleaned_3

,LAT,LON,DATE,YEAR,MONTH,DAY,QV2M,RH2M,PRECTOTCORR,PS,...,ALLSKY_SFC_SW_DWN,ALLSKY_SFC_LW_DWN,WS2M,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN
0,18.25,103.25,2000-01-01,2000,1,1,12.41,84.03,0.00,97.21,...,17.640000,358.800000,0.89,19.93,16.89,18.41,19.68,11.92,26.69,14.77
1,18.25,103.75,2000-01-01,2000,1,1,12.24,84.41,0.00,97.93,...,17.640000,358.800000,0.86,19.74,16.80,18.27,19.59,11.78,26.36,14.58
2,18.25,104.25,2000-01-01,2000,1,1,11.58,84.33,0.00,96.36,...,17.530000,350.000000,0.49,18.64,15.65,17.14,18.60,11.15,25.10,13.95
3,18.25,104.75,2000-01-01,2000,1,1,11.16,85.76,0.00,94.71,...,17.530000,350.000000,0.33,17.47,14.82,16.14,17.42,10.06,23.37,13.32
4,18.25,105.25,2000-01-01,2000,1,1,11.33,88.11,0.00,95.31,...,12.660000,348.200000,0.56,17.28,15.15,16.21,17.07,8.77,22.52,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11795,20.25,104.75,2023-10-22,2023,10,22,12.42,87.23,0.89,94.12,...,14.550998,396.310864,0.36,18.64,16.34,17.49,18.12,8.27,22.97,14.70
11796,20.25,105.25,2023-10-22,2023,10,22,13.07,86.07,0.88,97.60,...,14.550998,396.310864,1.16,20.25,17.75,19.00,19.94,7.00,23.86,16.86
11797,20.25,105.75,2023-10-22,2023,10,22,13.99,84.24,0.81,100.73,...,14.550998,396.310864,2.53,22.20,19.36,20.79,22.37,6.09,25.31,19.23
11798,20.25,106.25,2023-10-22,2023,10,22,14.89,83.81,1.66,101.64,...,14.550998,396.310864,3.90,23.42,20.50,21.96,24.40,4.62,25.86,21.24
11799,20.25,106.75,2023-10-22,2023,10,22,15.92,83.54,3.50,101.67,...,14.550998,396.310864,6.07,24.53,21.58,23.06,26.77,2.14,25.64,23.50

In [27]:
print(all_data_cleaned_3)

         LAT     LON       DATE  YEAR  MONTH  DAY   QV2M   RH2M  PRECTOTCORR  \
0      18.25  103.25 2000-01-01  2000      1    1  12.41  84.03         0.00
1      18.25  103.75 2000-01-01  2000      1    1  12.24  84.41         0.00
2      18.25  104.25 2000-01-01  2000      1    1  11.58  84.33         0.00
3      18.25  104.75 2000-01-01  2000      1    1  11.16  85.76         0.00
4      18.25  105.25 2000-01-01  2000      1    1  11.33  88.11         0.00
...      ...     ...        ...   ...    ...  ...    ...    ...          ...
11795  20.25  104.75 2023-10-22  2023     10   22  12.42  87.23         0.89
11796  20.25  105.25 2023-10-22  2023     10   22  13.07  86.07         0.88
11797  20.25  105.75 2023-10-22  2023     10   22  13.99  84.24         0.81
11798  20.25  106.25 2023-10-22  2023     10   22  14.89  83.81         1.66
11799  20.25  106.75 2023-10-22  2023     10   22  15.92  83.54         3.50

           PS  ...  ALLSKY_SFC_SW_DWN  ALLSKY_SFC_LW_DWN  WS2M    T2M  T2MDEW  \
0       97.21  ...          17.640000         358.800000  0.89  19.93   16.89
1       97.93  ...          17.640000         358.800000  0.86  19.74   16.80
2       96.36  ...          17.530000         350.000000  0.49  18.64   15.65
3       94.71  ...          17.530000         350.000000  0.33  17.47   14.82
4       95.31  ...          12.660000         348.200000  0.56  17.28   15.15
...       ...  ...                ...                ...   ...    ...     ...
11795   94.12  ...          14.550998         396.310864  0.36  18.64   16.34
11796   97.60  ...          14.550998         396.310864  1.16  20.25   17.75
11797  100.73  ...          14.550998         396.310864  2.53  22.20   19.36
11798  101.64  ...          14.550998         396.310864  3.90  23.42   20.50
11799  101.67  ...          14.550998         396.310864  6.07  24.53   21.58

       T2MWET     TS  T2M_RANGE  T2M_MAX  T2M_MIN
0       18.41  19.68      11.92    26.69    14.77
1       18.27  19.59      11.78    26.36    14.58
2       17.14  18.60      11.15    25.10    13.95
3       16.14  17.42      10.06    23.37    13.32
4       16.21  17.07       8.77    22.52    13.75
...       ...    ...        ...      ...      ...
11795   17.49  18.12       8.27    22.97    14.70
11796   19.00  19.94       7.00    23.86    16.86
11797   20.79  22.37       6.09    25.31    19.23
11798   21.96  24.40       4.62    25.86    21.24
11799   23.06  26.77       2.14    25.64    23.50

[346000 rows x 30 columns]

In [28]:
all_data_cleaned_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 346000 entries, 0 to 11799
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LAT                346000 non-null  float64
 1   LON                346000 non-null  float64
 2   DATE               346000 non-null  datetime64[ns]
 3   YEAR               346000 non-null  int64
 4   MONTH              346000 non-null  int32
 5   DAY                346000 non-null  int32
 6   QV2M               346000 non-null  float64
 7   RH2M               346000 non-null  float64
 8   PRECTOTCORR        346000 non-null  float64
 9   PS                 346000 non-null  float64
 10  WS10M              346000 non-null  float64
 11  WS10M_MAX          346000 non-null  float64
 12  WS10M_MIN          346000 non-null  float64
 13  WS10M_RANGE        346000 non-null  float64
 14  WD10M              346000 non-null  float64
 15  WS50M              346000 non-null  float64
 16  WS50M_MAX          346000 non-null  float64
 17  WS50M_MIN          346000 non-null  float64
 18  WS50M_RANGE        346000 non-null  float64
 19  WD50M              346000 non-null  float64
 20  ALLSKY_SFC_SW_DWN  346000 non-null  float64
 21  ALLSKY_SFC_LW_DWN  346000 non-null  float64
 22  WS2M               346000 non-null  float64
 23  T2M                346000 non-null  float64
 24  T2MDEW             346000 non-null  float64
 25  T2MWET             346000 non-null  float64
 26  TS                 346000 non-null  float64
 27  T2M_RANGE          346000 non-null  float64
 28  T2M_MAX            346000 non-null  float64
 29  T2M_MIN            346000 non-null  float64
dtypes: datetime64[ns](1), float64(26), int32(2), int64(1)
memory usage: 79.2 MB

In [29]:
#In dữ liệu ra file csv
#all_data_cleaned_3.to_csv(r'C:\\Users\\Admin\\Downloads\\Học tập\\Đồ án 2\\code\\Project DA2\\all_data_cleaned_3.csv', index=False)